.container {
  display: flex;
  padding: 8px;
}

.image {
  margin-right: 24px;
}

.movieDetailContainer {
  padding: 24px 8px;
}

.score {
  margin-top: 24px;
}

.subtytle {
  margin-top: 24px;
  margin-bottom: 24px;
}

.genres {
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.addInfo {
  list-style: inside;
  margin-top: 24px;
  cursor: pointer;
}

.addInfoContainer {
  padding: 8px;
}

.addInfoItem {
  margin-left: 20px;
}

.goBackBtn {
  margin-left: 8px;
}
